#display{
    display: none; 
}
/* header */
.header{
    background: rgb(0, 142, 65) url("../assets/counterHeader.svg"); 
    background-size: cover; 
    background-position: 0px 550px; 
    height: 50vh; 
}

.fill{
    height: 300vh;  
}

.progress-bar{
    margin: 0; 
    height: 100%;
    background: rgb(204, 0, 0);
    width: 8%;
}
  
.blob{
    fill: rgb(204, 0, 0); 
    opacity: 0.1; 
}

.view{
    color: #990000; 
    padding-top: 0; 
    font-weight: 500; 
}

.view:hover{
    color: #333; 
    text-decoration: none; 
}

.feature{
    display: flex; 
    flex-direction: row;
    width: 100%; 
    justify-content: space-between; 
}

.feature ul{
    width: 65%; 
}

.feature p{
    font-weight: 400; 
}

.projectTitle{
    width: 36.5vh;
}

@media (max-width: 767.98px) { 
    .WHOLE{
        display: none;
    }

    #display{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-content: center; 
        width: 100vw; 
        height: 100vh; 
        padding: 24px; 
        color: #333; 
        background-color: #d6e2f5;
        overflow-y: hidden; 
    }

    #display a{
        color: darkgrey; 
        font-weight: 500;
    }

    #display a:hover{
        color: #333; 
        text-decoration: none; 
    }

    #display h2{
        font-size: 20px; 
    }

    #display h1, #display h2, #display p{
        z-index: 4; 
        position: relative; 
        top: -30vh;  
    }

    #display h1, #display h2{
        line-height: 35px;
    }

    #moon2{
        left: -25%; 
        width: 130%; 
        top: 20vh; 
        position: relative; 
        overflow-y: hidden;
        height: 100% !important; 
        opacity: 0.8; 
    }
}