*{
    margin: 0; 
    padding: 0;
}
.header{
    background: rgb(0, 142, 65) url("../assets/header.svg"); 
    background-size: cover; 
    background-position: 0px 550px; 
    height: 50vh; 
}

.fill{
    height: 300vh;  
}

#sidebar{
    position: fixed; 
    background-color: white; 
    height: 100%; 
    width: 12vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-content: center; 
    align-items: center; 
    padding-top: 40px; 
    padding-bottom: 50px; 
    font-size: 14px; 
    color: grey; 
    z-index: 1; 
}

.projectNav{
    display: flex; 
    flex-direction: row; 
}

.projectNav p{
    margin: 0; 
    text-transform: uppercase; 
    margin-right: 20px; 
}

.projectNav a:hover{
    text-decoration: none !important; 
    color: rgb(0, 142, 65);  
}

.projectNav a{
    color: grey; 
    transition: color 0.5s ease-in-out; 
}

.projectTitle{
    text-transform: uppercase; 
    width: 50vh; 
    padding: 75px; 
}

.projectTitle, .projectNav{
    transform: rotate(90deg);
}

.home{
    position: relative; 
    top: -12vh; 
}

/* scroll progress */ 
.side{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0; 
}
  
.progress-container {
    width: 100vh;
    height: 5px;
    background-color: #FBFBFB;
    transform: rotate(90deg);
    position: fixed;
    top: 49.6vh;
    left: -37.6vh;
    overflow-y: hidden;    
    margin: 0; 
    z-index: 2; 
}
  
  .progress-bar {
    margin: 0; 
    height: 100%;
    background: rgb(255, 199, 0);
    width: 8%;
  }
  
  .content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
  }

/* Case Study */ 
#caseStudy{
    position: relative; 
    margin-left: 12vh; 
    padding: 50px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    color: #333
}

#caseStudy p{
    color: #6D6D6D;
    line-height: 28px; 
}

#caseStudy h1, #caseStudy h2, #caseStudy h3, #caseStudy h4{
    line-height: 44px; 
    margin-top: 10px; 
}

.intro{
    display: flex; 
    flex-direction: row;
    width: 70%; 
    padding-top: 60px; 
    padding-bottom: 70px; 
}

.title{
    width: 30%;
    margin-right: 30px; 
    
}

.description{
    width: 60%; 
    color: #6D6D6D; 
}

.logoContainer{
    overflow: hidden; 
    align-content: center; 
    align-items: center; 
    justify-content: center;  
    width: 100%; 
    display: block; 
    text-align: center; 
    margin-bottom: 40px; 
}

.logo{
    position: relative; 
    top: 8px; 
    width: 20%; 
}

/* Project Overview */
.overview{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    width: 80%;
    margin-bottom: 80px; 
}

.role, .timeline, .challenge, .tools{
    display: flex; 
    flex-direction: column; 
}

.role p, .timeline p, .challenge p, .tools p{
    color: #6D6D6D; 
    font-family: "SF Pro Display"; 
    text-transform: uppercase; 
    margin-bottom: 5px; 
}

.role h6, .timeline h6, .challenge h6, .tools h6{
    font-family: "SF Pro Display"; 
    font-weight: 400; 
    font-size: 18px; 
}

/* Writing */
.writing{
    justify-content: flex-start;
    width: 80%;  
}

.columns{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

.columns div{
    width: 45%; 
}

.requirements{
    padding: 0 50px;   
    color:  #6D6D6D; 
}

.requirements li{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.principles{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

/* THE BLOB */
.blob {
    fill: rgba(255, 199, 0, 0.2);
    width: 10vmax;
    z-index: -1;
    animation: move 30s ease-in-out infinite;
    transform-origin: 50% 50%;
    position: absolute; 
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 20vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 20vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(15vw, 10vh) rotate(-30deg); }
  80%  { transform: scale(1.3) translate(15vw, 10vh) rotate(-30deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}