*{
    margin: 0; 
    padding: 0;
}

#display{
    display: none;
}

img{
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 10px; 
    padding-right: 10px; 
}

/* arrow */
.back{
    background-color: white; 
    position: fixed;  
    top: 83vh; 
    left: 91vw; 
    padding: 25px; 
    border-radius: 100px;
    z-index: 100; 
    display: flex; 
    justify-content: center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 5px 0 rgba(0, 0, 0, 0.07);
}

.back:hover .arrow{
    width: 75%; 
}

.back:hover{
    padding: 32px; 
    top: 82.5vh; 
    left: 90.5vw; 
    transition: 0.3s all cubic-bezier(.87, -.41, .19, 1.44), 1.5s right cubic-bezier(.87, -.41, .19, 1.44) 0.15s;
    /* transition: padding 0.5s ease-in-out; */
}

.arrow{
    width: 70%; 
    transform: rotate(180deg);
    padding: 0; 
}

/* header */
.header{
    background: rgb(0, 142, 65) url("../assets/header.svg"); 
    background-size: cover; 
    background-position: 0px 550px; 
    height: 50vh; 
}

.fill{
    height: 300vh;  
}

/* sidebar */
.darken{
    display: none;
    height: 100vh; 
    width: 100vw; 
    left: 12.8vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed; 
    z-index: 1000; 
}

.transform{
    -webkit-transition: background-color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out;
     transition: background-color 2s ease-in-out;
}

#sidebar{
    position: fixed; 
    background-color: white; 
    height: 100%; 
    width: 12vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-content: center; 
    align-items: center; 
    padding-top: 40px; 
    padding-bottom: 50px; 
    font-size: 14px; 
    color: grey; 
    z-index: 1; 
}

.projectNav{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}

.projectNav a{
    display: flex; 
    justify-content: center; 
}

.prev img, .next img{
    width: 80%; 
    opacity: 0.5; 
}

.prev:hover .arrow{
    opacity: 1; 
} 

.next:hover .arrow{
    opacity: 1; 
} 

.prev img{
    position: relative; 
    top: -2vh;
} 

.projectNav p, .resume, .getInTouch, .about, .returnHome{
    margin: 0; 
    text-transform: uppercase; 
    margin-right: 22px; 
}

.projectNav a:hover, .resume:hover, .about:hover, .getInTouch:hover, .returnHome:hover{
    text-decoration: none !important; 
    color: black;  
}

.projectNav a, .resume, .about, .getInTouch, .returnHome{
    color: rgba(0, 0, 0, 0.5); 
    transition: color 0.2s ease-in-out; 
}

.projectTitle {
    text-transform: uppercase; 
    width: 44vh; 
    top: -10px; 
}

/* .projectNav, .resume, .getInTouch, .about, .returnHome */
.projectTitle , .projectNav{
    transform: rotate(-90deg);
}

.home{
    position: relative; 
    top: 15vh;  
    width: 45%; 
    opacity: 0.7;
}

.home:hover{
    opacity: 1; 
    cursor: pointer; 
}

.home img{
    width: 100%; 
    padding: 0; 
}

/* .home:hover{
    background: url("../assets/menuFill.svg"); 
    background-size: 90%; 
    background-repeat: no-repeat;  
} */

.new{
    width: 100vh; 
    display: none;  
    transform: rotate(-90deg); 
    position: absolute; 
    top: -8.8vh;
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
}

.close{
    visibility: hidden;
    position: relative; 
    bottom: -29vh;  
}

.close:hover{
    cursor: pointer;
}

.new p{
    margin-bottom: 0; 
}

/* scroll progress */ 
.side{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0; 
}
  
.progress-container {
    width: 100vh;
    height: 5px;
    background-color: #FBFBFB;
    transform: rotate(90deg);
    position: fixed;
    top: 49.6vh;
    left: -37.65vh;
    overflow-y: hidden;    
    margin: 0; 
    z-index: 2; 
}
  
  .progress-bar {
    margin: 0; 
    height: 100%;
    background: rgb(255, 199, 0);
    width: 8%;
  }
  
  .content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
  }

/* Case Study */ 
#caseStudy{
    position: relative; 
    margin-left: 12vh; 
    margin-right: 8vh; 
    padding: 50px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    color: #333
}

#caseStudy p, #caseStudy li, #caseStudy td{
    color: #6D6D6D;
    line-height: 30px;

}

#caseStudy h1, #caseStudy h2, #caseStudy h3, #caseStudy h4{
    line-height: 44px; 
    margin-top: 12px; 
}

.intro{
    display: flex; 
    flex-direction: row;
    width: 70%; 
    padding-top: 60px; 
    padding-bottom: 70px; 
}

.title{
    width: 30%;
    margin-right: 30px;  
}

.title p{
    margin-bottom: 2px; 
}

.view{
    color: ; 
    padding-top: 0; 
    font-weight: 500; 
}

.view:hover{
    color: #333; 
    text-decoration: none; 
}

.description{
    width: 60%; 
    color: #6D6D6D; 
}

.logoContainer{
    overflow: hidden; 
    align-content: center; 
    align-items: center; 
    justify-content: center;  
    width: 100%; 
    display: block; 
    text-align: center; 
    margin-bottom: 40px; 
}

.logo{
    position: relative; 
    top: 20px; 
    width: 40%; 
    padding: 0; 
}

/* Project Overview */
.overview{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    width: 80%;
    margin-bottom: 80px; 
}

.role, .timeline, .challenge, .tools{
    display: flex; 
    flex-direction: column; 
}

.role p, .timeline p, .challenge p, .tools p{
    color: #6D6D6D; 
    font-family: "SF Pro Display"; 
    text-transform: uppercase; 
    margin-bottom: 5px; 
}

.role h6, .timeline h6, .challenge h6, .tools h6{
    font-family: "SF Pro Display"; 
    font-weight: 400; 
    font-size: 16px; 
}

/* Writing */
.writing{
    justify-content: flex-start;
    width: 80%;  
}

.writing p, .writing li{
    font-weight: 300;
}

.writing h2{
    font-weight: 500; 
}

.writing h4{
    font-weight: 400; 
}

.columns{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

.columns div{
    width: 45%; 
}

.requirements{
    padding: 0 50px;   
    color:  #6D6D6D; 
}

.requirements li{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.principles{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

/* THE BLOB */
.blob {
    fill: rgba(255, 199, 0, 0.1);
    width: 15vmax;
    z-index: -1;
    animation: move 19s ease-in-out infinite;
    transform-origin: 50% 50%;
    position: absolute; 
    display: none; 

}

@keyframes move {
        0%   { transform: scale(1)   translate(-30px, -50px); }
        38%  { transform: scale(0.5) translate(100vw, 15vh) rotate(160deg); }
        40%  { transform: scale(0.5) translate(100vw, 15vh) rotate(160deg); }
        78%  { transform: scale(0.9) translate(0vw, 8vh) rotate(-20deg); }
        80%  { transform: scale(0.9) translate(0vw, 8vh) rotate(-20deg); }
        100% { transform: scale(1)   translate(10px, -30px); }
}


/* Competitive Analysis */
@import "compass/css3";

* {
  @include box-sizing(border-box); 
}

section{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
}

.module{
    margin-top: 1%; 
    width: 100%; 
    min-height: 200px;
    display: flex;   
    overflow: hidden; 
    margin-bottom: 1%; 
    box-shadow: 0 1px 3px rgba(black, 0.2);
}

#column{
    flex-direction: column; 
}

#row{
    flex-direction: row; 
}

#space{
    margin-bottom: 10px; 
}

.paragraphLeft{
    width: 50%; 
    margin-right: 10px;
    padding-right: 5px;  
}

.paragraphRight{
    width: 50%; 
    padding-right: 5px;  
}

.images{
   display: flex; 
   flex-direction: row;  
}

.image1, .image2, .imageStack{
    width: 50%;  
}

.image1 img, .image2 img, .imageStack img{
    width: 100%;
}

.imageStack{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.image1, .imageStack{
    margin-right: 10px; 
}

.module p{
    padding-top: 15px; 
}

.come-in {
  transform: translateY(150px);
  animation: come-in 1.4s ease forwards;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

/* Visual Styles */
.VisualStyles{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    align-items: stretch; 
    justify-content: space-between;  
}

.VisualStyles div{
    border-right: 1px solid lightgray; 
    width: 33%; 
}

.image{
    justify-content: center;
    display: flex; 
}

.colours{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.colours section{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}

.colours div{
    width: 7vh; 
    min-height: 7vh;  
    border: 1px solid lightslategray; 
    border-radius: 5px;  
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.letters{
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
}

.letters h1{
    font-size: 78px;
    font-weight: 600;  
}

.buttons{ 
    align-items: center;
    width: 100%; 
    display: flex;
    flex-direction: column;  
    justify-content: flex-end;  
}

.buttons p{
    margin-bottom: 2px; 
}

.inactive, .active{
    padding: 1.0625em 1.875em; 
    line-height: 10px; 
    border-radius: 6px; 
    font-weight: 300; 
    margin-bottom: 10px; 
    width: auto; 

}

.inactive{
    color: white; 
    background-color: #333; 
    
}

.inactive:hover{
    background-color: #248f41; 
}

.active{
    background-color: #248f41; 
    color: white; 
}

/* Colour Blocks */
.green{
    background-color: #248f41
}

.lightgrey{
    background-color: #777777
}

.darkgrey{
    background-color: #333333
}

.black{
    background-color: black; 
}

.white{
    background-color: white; 
}

.yellow{
    background-color: rgb(255, 201, 0)
}

/* Wireframes & Sketches */
.wireframes{
    padding-top: 20px; 
    /* padding-bottom: 20px;  */
}

.uploads{
    display: flex; 
    flex-direction: row; 
}

.column img{
    width: 100%;  
}

.column img:hover{
    opacity: 0.3; 
}

/* expanding wireframes */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  .open{
      width: 100%; 
      padding: 0; 
  }

  .containerTab{
      margin-bottom: 30px; 
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the container tab */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

/* Outcome */
.outcome{
    display: flex; 
    flex-direction: column; 
}

.outcome div{
    padding-bottom: 20px; 
}

.vid{
    width: 100%; 
}

.link:hover{
    text-decoration: none; 
    font-weight: 400; 
}

/* footer */
.footer{
  background-color:#EAECEE;  
  width: 100%; 
  margin-left: 12vh;  
  padding: 30px 50px; 
}

.linkedin, .github, .email{
    width: 3.5%; 
    margin-right: 20px;
}

.email{
    position: relative; 
    top: 5%; 
}

.footerIcons{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    width: 100%; 
    margin-right: 12vh; 
}

.linkedin img, .github img, .email img{
    width: 100%; 
    opacity: 0.8; 
}

.linkedin img:hover, .github img:hover, .email img:hover{
    opacity: 1; 
}

/* back to top */
.top{
    border:none; 
    padding-top: 60px; 
    padding-bottom: 60px; 
}

.top a{
    width: 100%;
    justify-content: center; 
    display: flex; 
}

.top button{
    color: #C2C2C2;  
    background-color: transparent;
    font-size: 20px; 
    border: none; 
}

.top button:hover{
    color: #333;
    cursor: pointer !important;
}

.top a:hover{
    text-decoration: none; 
    cursor: pointer;
}

@media (max-width: 767.98px) { 
    .WHOLE{
        display: none;
    }

    #display{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-content: center; 
        width: 100vw; 
        height: 100vh; 
        padding: 24px; 
        color: #333; 
        background-color: #d6e2f5;
        overflow-y: hidden; 
    }

    #display a{
        color: darkgrey; 
        font-weight: 500;
    }

    #display a:hover{
        color: #333; 
        text-decoration: none; 
    }

    #display h2{
        font-size: 20px; 
    }

    #display h1, #display h2, #display p{
        z-index: 4; 
        position: relative; 
        top: -30vh;  
    }

    #display h1, #display h2{
        line-height: 35px;
    }

    #moon2{
        left: -25%; 
        width: 130%; 
        top: 20vh; 
        position: relative; 
        overflow-y: hidden;
        height: 100% !important; 
        opacity: 0.8; 
    }
}
