*{
    padding: 0; 
    margin: 0 ; 
}

#mobile{
    display: none;  
}

/* body{
    background-color: rgb(243, 247, 253); 
} */
/* NAVBAR */ 
.navbar{
    padding: 30px 40px; 
    display: flex; 
    justify-content: space-between; 
    position: fixed; 
    width: 100%; 
    z-index: 100; 
    visibility: visible; 
}

.nav-link.dropdown-toggle:hover{
    cursor: pointer !important;
}

.bg-light{
    background-color: rgba(255,255,255, 0) !important; 
}

#navbarSupportedContent{
    justify-content: flex-end;
}

.mr-auto{
    margin: 0px !important; 
}

.navbar-light .navbar-toggler{
    border-color: transparent; 
}

.navbar-brand{
    font-size: 22px; 
    margin-left: 10px; 
}

.nav-item{
    font-size: 16px;
    padding-left: 6px;  
}

.nav-item::before{
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
}

.nav-item:hover::before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
}

.dropdown-menu{
    background-color: rgba(255,255,255, 0.2); 
    border-color: transparent; 
}

.dropdown-divider{
    border-top: 1px solid rgba(255,255,255, 0.4); 
}

.hide{
    display: none !important;  
}

.opacity{
    background-color: rgba(255,255,255, 1) !important;
}

.display{
    visibility: hidden;   
}

.green{
   color: #7fc1cc !important; 
   /* 3 darker than textbox background*/
}

.secondGreen{
    color: #70c6db !important;
}

#work{
    position: relative; 
    top: 15px; 
}
/* HERO SECTION */ 
/* moon*/ 
/* .page {
    padding-top: 50px;
    width: 100%; 
    height: 100vh; 
} */

#scene{
    overflow:hidden; 
    height: 100vh; 
    background-color: #d6e2f5; 
}

#moon{
    position: relative; 
    left: 30%; 
    overflow-y: hidden; 
    width: 75%; 
    height: 100% !important; 
    opacity: 0.8; 
}

[data-depth="0.2"], [data-depth="0.1"] {
     top: 42% !important; 
     left: 44% !important; 
     margin-right: 8%; 
}

.layer h1 h2{
    color:rgb(52, 42, 145); 
    font-family: "SF Pro Text"; 
      
}
.layer h1{
    font-size: 30px; 
    font-weight: 400; 
    line-height: 45px; 
}

.layer h2{
    font-size: 26px; 
    font-weight: 300;
    line-height: 44px;  
    margin-bottom: -1px; 
}

.circle1 {
    height: 310px;
    width: 310px;
    background-color: rgb(150, 232, 226);
    border-radius: 50%;
    display: inline-block; 
}

#firstCircle{
    top: 54% !important; 
    left: 16% !important; 
}

.circle2 {
    height: 250px;
    width: 250px;
    background-color: #eaf1fa;
    border-radius: 50%;
    display: inline-block; 
}

#secondCircle{
    top: -15% !important; 
    left: 22% !important; 
}

.circle3 {
    height: 70px;
    width: 70px;
    background-color: rgb(202, 233, 162);
    border-radius: 50%;
    display: inline-block; 
}

#thirdCircle{
    top: 15% !important; 
    left: 88% !important; 
}

.circle4 {
    height: 120px;
    width: 120px;
    background-color: rgb(191, 227, 217);
    border-radius: 50%;
    display: inline-block; 
}

#fourthCircle{
    top: 25% !important; 
    left: 90% !important; 
}

.circle5 {
    height: 200px;
    width: 200px;
    /* background-color: rgb(239, 205, 215); */
    background-color: rgba(239, 205, 215, 0.8); 
    border-radius: 50%;
    display: inline-block; 
}

#fifthCircle{
    top: 22% !important; 
    left: 6% !important; 
}

.circle6 {
    height: 180px;
    width: 180px;
    background-color: rgb(159, 198, 229);
    border-radius: 50%;
    display: inline-block; 
}

#sixthCircle{
    /* top:  !important;  */
    left: 50% !important; 
}

/* .circle7 {
    height: 350px;
    width: 350px;
    background-color: rgb(202, 233, 162);
    border-radius: 50%;
    display: inline-block; 
 } 

#seventhCircle{
    top: 80% !important; 
    left: 70% !important; 
} */


#typed, .typed-cursor{
    font-size: 26px; 
    line-height: 44px; 
    font-weight: 500; 
}
/* line w/ links */ 
.scroll{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    position: fixed; 
    width: 10vh;
    top: 58vh;
    margin-left: 6vh;
    z-index: 1; 
}

.linkedin, .email{
    width: 30%; 
}

.mouse{
    width: 37%;  
    margin-bottom: 24px; 
}

.github{
    width: 43%;
}

.email img{
    width: 100%; 
    margin-bottom: 24px; 
}

.linkedin img{
    width: 100%; 
    margin-bottom: 19px; 
}


.github img{
    width: 100%; 
    margin-bottom: 24px; 
}

.line line{
    stroke-width: 2px; 
    stroke: black; 
}
.text{ 
    font-size: 16px;
    font-weight: 300;
    transform: rotate(-90deg);
    text-transform: uppercase;
    width: 10%; 
    top: 35px; 
    width: 3%; 
    margin-top: 15%; 
}

/* Sidebar 
#sidebar{
    background-color: rgba(207, 224, 255, 0.6);  
    height: 103vh; 
    position: absolute; 
    top: -103vh; 
    padding: 30px 40px; 
    width: 100%; 
    min-width: 250px; 
    flex-direction: column;  
    align-content: center; 
    justify-content: center; 
    display: flex;  
    color: #333333; 
} */

.wrapper {
    position: fixed;
    width: 20%; 
    margin:0;
}
   
.sidebar-header, .description{
    margin-bottom: 15px; 
}

.list-unstyled.components li{
    margin-bottom: 10px; 
    font-size: 18px; 
    color: #333333;  
}

.list-unstyled.components a{
    color: inherit;
    opacity: 1 !important; 
}

.around{
    display: center; 
}

.icons{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    flex: 1; 
    align-items: center;
    justify-content: center; 
    margin-top: 50px; 
}

.linkedinIcon, .githubIcon, .emailIcon{
    width: 100%; 
    opacity: 0.6; 
    padding-left: 5px; 
    padding-right: 5px; 
    max-width: 50px; 
}

.Elink{
    top: 5px;
    position: relative;  
}

.Elink, .Llink, .Glink{ 
    width: 50%; 
    display: block; 
    justify-content: space-around; 
    text-align: center;
}


/* Body */ 
.portfolios{
    position: relative; 
    top: 15vh; 
    padding-bottom: 10%; 
    overflow-x: hidden; 
}

.portfolio{
    margin-left: 10%; 
    justify-content: flex-end;  
    width: 80%; 
    padding: 50px; 
    padding-bottom: 0; 
    overflow-x: hidden; 
    height: 93vh; 
}

.project{
    display:flex; 
    flex-direction: row;  
}

.image{
    width: 100%; 
    z-index: 10; 
}

.image img:hover{ 
    opacity: 0.4; 
}

.image a{
    width: 100%; 
    height: 100%; 
}

.textOverlay{
    position: absolute; 
    top: 65vh; 
    left: 17%; 
    visibility: hidden;
    font-size: 2rem;  
    z-index: 20; 
}

.textOverlay2{
    position: absolute; 
    top: 158.4vh; 
    left: 72%; 
    visibility: hidden;
    font-size: 2rem; 
    z-index: 20;  
}

.textOverlay3{
    position: absolute; 
    top: 252.4vh; 
    left: 16%; 
    visibility: hidden;
    font-size: 2rem;  
    z-index: 20; 
}

.image:hover .textOverlay, .image:hover .textOverlay2, .image:hover .textOverlay3{
    visibility: visible; 
    color: white;
    z-index: 100; 
}


.description{
    width: 60%; 
}

.image img{
    width: 100%; 
}

.category, .category2{
    margin-bottom: 5px; 
}

.blurb, .blurb2{
    z-index: 11; 
}

.category, .title, .blurb{
    text-align: right; 
}

.category2, .title2, .blurb2{
    text-align: left; 
}

#description{
    display: flex; 
    flex-direction: row; 
    margin-top: 30px; 
    margin-bottom: 30px;
}

.blurb{ 
    background-color: rgb(243, 247, 253);  
    opacity: 0.9; 
    color: black; 
    padding: 20px 30px; 
    position: relative;
    left: -14vh; 
    margin-bottom: 0; 
}

.blurb2{ 
    background-color: rgb(243, 247, 253);  
    opacity: 0.9; 
    color: black; 
    padding: 20px 30px;
    position: relative;
    left: 16vh; 
}

.visit{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    width: 4.8vh;
}


.visit img, .visit2 img{
    margin-bottom: 15px;
    width: 100%; 
}

.visit img:hover, .visit2 img:hover{
    opacity: 0.5;
}

.visit2{
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    width: 4.8vh; 
}


.next{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-left: -7vw;
    height: 10%;
}

.next2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-right: -7vw;
    height: 10%;
}

.skills{
    display: flex; 
    flex-direction: row; 
    list-style-type: none;
    justify-content: flex-end; 
}

.skills2{
    display: flex; 
    flex-direction: row; 
    list-style-type: none;
    justify-content: flex-start; 
}

.skills li{
    margin-left: 10px; 
}

.skills2 li{
    margin-right: 10px; 
}

.moreDiv{
    height: 62%; 
    width: 100%; 
    display: flex; 
    justify-content: flex-end; 
}

.more, .more2{
    background-color: transparent; 
    border-color: transparent; 
    font-weight: 500;
    font-size: 20px; 
    text-align: left; 
    color: darkblue; 
}

.moreDiv2{
    height: 56%; 
    width: 100%; 
    display: flex; 
    justify-content: flex-start; 
}

.more:hover, .more2:hover{
    font-size: 22px; 
}

 /* POPPING CIRCLES */
 .section1{
    width: 70%;
    height: 30%;
    overflow: visible;
    position: absolute;
    top: 70vh; 
    left: 85vw;
    z-index: 25;
}
  
  .pop1{
      width: 10px; 
      height: 10px; 
      background-color: rgba(187, 159, 229, 0.5); 
      border-radius: 50%; 
      display: inline-block;  
}

.section2{
    width: 70%;
    height: 30%;
    overflow: visible;
    position: absolute;
    left: -1vw; 
    top: 45vh; 
    z-index: 25;
}

.pop2{
    width: 60px; 
    height: 60px; 
    background-color: rgba(176, 205, 202, 0.7); 
    border-radius: 50%; 
    display: inline-block;  
}

.section3{
    width: 80%;
    height: 70%;
    overflow: visible;
    position: absolute;
    left: -70vw; 
    top: 25vh; 
    z-index: 25;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /* display: flex;
    justify-content: flex-end;  */
}

.pop3{
    width: 10px; 
    height: 10px; 
    background-color: rgba(176, 205, 252, 0.5); 
    border-radius: 50%; 
    display: inline-block;  
}

.section4{
    width: 80%;
    height: 70%;
    overflow: visible;
    position: absolute;
    left: -64vw; 
    top: 178vh; 
    z-index: 25;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /* display: flex;
    justify-content: flex-end;  */
  }

.pop4{
    width: 10px; 
    height: 10px; 
    background-color: rgba(242, 180, 111, 0.3); 
    border-radius: 50%; 
    display: inline-block;  
}

.section5{
    width: 80%;
    height: 70%;
    overflow: visible;
    position: absolute;
    left: 79vw; 
    top: 265vh; 
    z-index: 25;
    /* display: flex;
    justify-content: flex-end;  */
  }

.pop5{
    width: 10px; 
    height: 10px; 
    background-color: rgba(180, 223, 227, 0.7); 
    border-radius: 50%; 
    display: inline-block;  
}
/* Extra small devices (portrait phones, less than 576px) */ 
/* @media (max-width: 575.98px) { 
    .navbar{
        padding: 20px 24px ;  
    }
    
    .page{
        padding-top: 80px;  
    }

    .moon{
        left: -40%;
        top: -50%;
        overflow-x: hidden;
        width: 150%;
        height: 160%;
    }
 } */

/*  Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    p, li{
        font-weight: 300; 
        line-height: 30px; 
    }
    /* Navbar */
    .navbar{
        padding: 20px 24px;
    }

    .navbar-brand{
        margin-left: 0; 
        margin-right: 0; 
    }

    .navbar-toggler{
        padding: 0; 
    }

    #page-1{
        background-color: white; 
    }

    .scroll{
        display:none; 
    }

    /* hero part */
    .layer{
        position: relative; 
    }

    .layer h1{
        font-size: 24px; 
        line-height: 40px; 
    }

    .layer h2, #typed{
        font-size: 18px; 
        line-height: 35px; 
    }

    [data-depth="0.1"], [data-depth="0.2"]{
        padding-left: 24px; 
        padding-right: 24px; 
        width: 100%; 
        position: absolute !important; 
         
        left: 0% !important; 
    }

    #moon{
        left: -28%; 
        width: 130%; 
        top: 25vh; 
    }

    #secondCircle{
        display: none !important; 
    }

    #firstCircle{
        display: none !important; 
    }

    #thirdCircle {
        top: 83% !important;
        left: 86% !important;
    }

    /* pink circle */
    .circle5{
        height: 120px; 
        width: 120px; 
    }

    #fifthCircle{
        top: 15% !important; 
        left: 2% !important; 
    }

    /* hide popping circles */
    .pop1, .pop2, .pop3{
        display: none; 
    }

    /* portfolios */
    .portfolios{
        margin-left: 24px; 
        margin-right: 24px; 
    }

    .portfolio{
        margin: 0;  
        padding: 0; 
        width: 100%;
        height: auto;  
    }

    .project{
        flex-direction: column; 
    }

    .description{
        width: 100%; 
    }

    #description{
        flex-direction: column; 
        margin-top: 15px;
        margin-bottom: 0;  
    }

    .blurb, .blurb2{
        left: 0; 
        padding: 15px; 
        margin-top: 20px; 
        margin-bottom: 20px; 
    }

    .blurb2{
        top: -50px; 
    }

    .category, .category2{
        margin-top: 15px; 
        margin-bottom: 5px; 
    }

    .next{
        margin-left: 0; 
        position: relative; 
        top: 75px;
        flex-direction: row;  
    }

    .next2{
        margin-left: 0; 
        position: relative; 
        flex-direction: row; 
        top: 430px; 
    }

    #none{
        margin-left: 0; 
        margin-right: 15px; 
    }

    .skills{
        position: relative; 
        top: -30px; 
    }

    .skills2{
        position: relative; 
        top: -45px; 
    }

    .visit{
        width: 5.5vh; 
        margin-left: 15px; 
    }

    .visit img{
        margin-bottom: 8px; 
    }

    .skills li{
        margin-right: 10px; 
        margin-left: 0; 
    }

    #mobile{
        display: block; 
    }

    #desktop{
        display: none; 
    }

    .image img{
        margin-top: 50px; 
    }

    #mobileHeight{
        height: 100vh; 
    }
}


/*  Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

}


.sp-fixed {
    position: fixed;
    top: 0;
    left: 0;
}
    
